{% extends 'base.html' %}


{% block content %}

<div class="page-heading">
    <h3>Password Change</h3>
</div>
<div class="page-content">
    <div class="row justify-content-center">
        <div class="col-12">
            {% include 'alert.html' %}
        </div>
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">{% csrf_token %}
                            <div class="form-group">
                                {{ form.old_password.label_tag }}
                                <input type="password" class="form-control" id="{{ form.old_password.id_for_label  }}"
                                       name="current_password"
                                       placeholder="Current Password">
                            </div>
                            <div class="form-group">
                                {{ form.new_password1.label_tag }}
                                <input type="password" class="form-control" id="{{ form.new_password1.id_for_label  }}"
                                       name="new_password"
                                       placeholder="Password">
                            </div>
                            <div class="form-group">

                                <input type="password" class="form-control" id="{{ form.new_password2.id_for_label  }}"
                                       name="confirm_password"
                                       placeholder="Confirm Password">
                            </div>
                        <button type="submit" class="btn btn-primary float-right">Update Password</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}