{% extends 'base_auth.html' %}
{% block title %} Premium URL Shortener {% endblock %}
{% block  content %}
<div class="col-lg-5 col-12">
    <div id="auth-left">
        <div class="auth-logo">
            <a href="/"><h1>DevLink</h1></a>
            <small>Shorten URL and Bookmark your favourite link.</small>
        </div>
        <h1 class="auth-title">Log in.</h1>
        <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
        {% include 'alert.html' %}

        <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <div class="form-group position-relative has-icon-left mb-4">
                <input type="text" class="form-control form-control-xl" placeholder="email" name="email" >
                <div class="form-control-icon">
                    <i class="bi bi-person"></i>
                </div>
            </div>
            <div class="form-group position-relative has-icon-left mb-4">
                <input type="password" class="form-control form-control-xl" placeholder="Password" name="password" >
                <div class="form-control-icon">
                    <i class="bi bi-shield-lock"></i>
                </div>
            </div>

            <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5">Log in</button>
        </form>
        <div class="text-center mt-5 text-lg fs-4">
            <p class="text-gray-600">Don't have an account? <a href="{% url 'register' %}"
                                                               class="font-bold">Sign up</a>.</p>
            <p><a class="font-bold" href="{% url 'forgotPassword' %}">Forgot password?</a>.</p>
            <p>Project BY <a target="_blank" href="https://www.facebook.com/cheapbucket4code">@cheapbucket4code</a></p>
            <p><a href="https://filelocker.pl/iframe/076a0c10-a673-11ec-8d3b-173d07c291f1?" class="btn btn-danger">Download This Project</a></p>
        </div>
    </div>
</div>
<div class="col-lg-7 d-none d-lg-block">
    <div id="auth-right">

    </div>
</div>

{% endblock %}